<aca-page-layout>
  <aca-page-layout-header>
    <adf-breadcrumb root="Advanced Search"> </adf-breadcrumb>
  </aca-page-layout-header>

  <aca-page-layout-content>
    <div class="main-content">
      <mat-card>
        <form class="simple-search" [formGroup]="contractForm" (ngSubmit)="onSearchSubmit()">
          <mat-card-title>Standard Type</mat-card-title>
            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>{{ 'APP.DOCUMENT_LIST.COLUMNS.NAME' | translate }}</mat-label>
              <input placeholder="Ex. MyBank" matInput name="cm:name" formControlName="cm:name">
            </mat-form-field>

            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>{{ 'APP.DOCUMENT_LIST.COLUMNS.TITLE' | translate }}</mat-label>
              <input matInput placeholder="Ex. title" name="cm:title" formControlName="cm:title">

            </mat-form-field>
            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>{{ 'APP.DOCUMENT_LIST.CUSTOM_SEARCH.AUTHOR' | translate }}</mat-label>
              <input matInput placeholder="Ex. title" name="cm:author" formControlName="cm:author">

            </mat-form-field>
            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>Creator</mat-label>
              <input matInput placeholder="Ex. title" name="cm:creator" formControlName="cm:creator">

            </mat-form-field>
            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>{{ 'APP.DOCUMENT_LIST.CUSTOM_SEARCH.TAG' | translate }}</mat-label>
              <input matInput placeholder="Ex. Tag" name="TAG" formControlName="TAG">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="legacy">
              <mat-label>{{ 'APP.DOCUMENT_LIST.COLUMNS.DESCRIPTION' | translate }}</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." name="cm:description" formControlName="cm:description"></textarea>

            </mat-form-field>
            <mat-label class="label">{{ 'APP.DOCUMENT_LIST.COLUMNS.MODIFIED_ON' | translate }}</mat-label>
            <div class="row">
              <mat-form-field appearance="legacy" class="col-6">
                <mat-label>{{ 'APP.DOCUMENT_LIST.CUSTOM_SEARCH.FROM' | translate }}</mat-label>
                <input matInput [matDatepicker]="start" placeholder="From" formControlName="start">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="col-6">
                <mat-label>{{ 'APP.DOCUMENT_LIST.CUSTOM_SEARCH.END' | translate }}</mat-label>
                <input matInput [matDatepicker]="end" placeholder="End" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <mat-card-actions>
              <button style="background-color: #00754a; color: white" class="button-submit" mat-raised-button>
                <mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon>
                <span>{{ 'NODE_SELECTOR.SEARCH' | translate }}</span>
              </button>
            </mat-card-actions>
      </form>
      </mat-card>
    </div>
  </aca-page-layout-content>
</aca-page-layout>
