<aca-page-layout>
  <aca-page-layout-header>
    <adf-breadcrumb root="Advanced Search"> </adf-breadcrumb>
  </aca-page-layout-header>

  <aca-page-layout-content>
    <div class="main-content">

<!--      <mat-form-field class="form-field" appearance="outline">-->
<!--        <mat-label>Name</mat-label>-->
<!--        <input placeholder="Ex. Alex" matInput [searchAutocomplete]="settings">-->
<!--      </mat-form-field>-->

<!--      <adf-search #search="searchAutocomplete">-->
<!--        <ng-template let-result>-->
<!--          <ul>-->
<!--            <li *ngFor="let item of result?.list?.entries" (click)="getNode(item?.entry)">{{ item?.entry.name }}</li>-->
<!--          </ul>-->
<!--        </ng-template>-->
<!--      </adf-search>-->


      <!--      <adf-content-metadata-card-->
<!--        [displayEmpty]="false"-->
<!--        [toggleDisplayProperties]="displayDefaultProperties"-->
<!--        [preset]="'*'"-->
<!--        [node]="node">-->
<!--      </adf-content-metadata-card>-->


<!--      <adf-content-metadata-card-->
<!--        [displayEmpty]="false"-->
<!--        [preset]="'*'"-->
<!--        [node]="node">-->
<!--      </adf-content-metadata-card>-->

      <form class="simple-search" [formGroup]="contractForm" (ngSubmit)="onSearchSubmit()">
<!--        <h2 style="margin-bottom: 25px;">Type Contract</h2>-->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Name</mat-label>
          <input placeholder="Ex. MyBank" matInput name="name" formControlName="name">
        </mat-form-field>

<!--        <mat-form-field class="form-field" appearance="outline">-->
<!--          <mat-label>Contract number</mat-label>-->
<!--          <input type="number" placeholder="Ex. 123" matInput name="contractNumber" formControlName="contractNumber">-->
<!--        </mat-form-field>-->

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. title" name="title" formControlName="title">

        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Author</mat-label>
          <input matInput placeholder="Ex. title" name="author" formControlName="author">

        </mat-form-field>

<!--        <mat-form-field class="form-field" appearance="outline">-->
<!--          <mat-label>Contract date</mat-label>-->
<!--          <input matInput placeholder="Ex. MM/DD/YYYY" [matDatepicker]="picker" name="contractDate" formControlName="contractDate">-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->

<!--        </mat-form-field>-->

<!--        <mat-form-field class="form-field" appearance="outline">-->
<!--          <mat-label>Contract value</mat-label>-->
<!--          <input type="number" placeholder="Ex. 1200" matInput placeholder="Ex. Engineering Degree" name="contractValue" formControlName="contractValue">-->

<!--        </mat-form-field>-->

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." name="description" formControlName="description"></textarea>

        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Modified Date</mat-label>
          <mat-date-range-input
            [formGroup]="contractForm"
            [rangePicker]="campaignTwoPicker"
            [comparisonStart]="contractForm.value.start"
            [comparisonEnd]="contractForm.value.end">
            <input matStartDate placeholder="From" formControlName="start">
            <input matEndDate placeholder="To" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button>Submit</button>
      </form>
    </div>
  </aca-page-layout-content>
</aca-page-layout>
